USE [master]
GO
/****** Object:  Database [BookStoreDB_V2]    Script Date: 3/22/2026 9:35:23 AM ******/
CREATE DATABASE [BookStoreDB_V2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStoreDB_V2', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookStoreDB_V2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStoreDB_V2_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookStoreDB_V2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreDB_V2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreDB_V2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/22/2026 9:35:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangs]    Script Date: 3/22/2026 9:35:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangs](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietDonHangs] PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs]    Script Date: 3/22/2026 9:35:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[NgayDatHang] [datetime2](7) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [int] NOT NULL,
	[TenNguoiNhan] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[DiaChiGiaoHang] [nvarchar](max) NULL,
	[LyDoTuChoi] [nvarchar](max) NULL,
	[PhuongThucThanhToan] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHangs] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saches]    Script Date: 3/22/2026 9:35:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saches](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](max) NULL,
	[TacGia] [nvarchar](max) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[HinhAnhUrl] [nvarchar](max) NULL,
	[SoLuongDaBan] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[LoaiSach] [nvarchar](max) NULL,
 CONSTRAINT [PK_Saches] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoDiaChis]    Script Date: 3/22/2026 9:35:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoDiaChis](
	[MaDiaChi] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Ho] [nvarchar](max) NOT NULL,
	[Ten] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[QuocGia] [nvarchar](max) NOT NULL,
	[TinhThanhPho] [nvarchar](max) NOT NULL,
	[QuanHuyen] [nvarchar](max) NOT NULL,
	[XaPhuong] [nvarchar](max) NOT NULL,
	[DiaChiCuThe] [nvarchar](max) NOT NULL,
	[MaBuuDien] [nvarchar](max) NULL,
	[LaMacDinh] [bit] NOT NULL,
 CONSTRAINT [PK_SoDiaChis] PRIMARY KEY CLUSTERED 
(
	[MaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 3/22/2026 9:35:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime2](7) NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[DiemTichLuy] [int] NOT NULL,
	[HangThanhVien] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260307090707_InitialCreate', N'10.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260314080529_TaoBangTaiKhoan', N'10.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260314092032_UpdateSoLuongDaBan', N'10.0.3')
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] ON 

INSERT [dbo].[ChiTietDonHangs] ([MaCTDH], [MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (28, 28, 16, 1, CAST(999999.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHangs] ([MaCTDH], [MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (29, 29, 1, 2, CAST(100000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHangs] ([MaCTDH], [MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (30, 29, 17, 1, CAST(999999.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangs] ON 

INSERT [dbo].[DonHangs] ([MaDH], [MaTK], [NgayDatHang], [TongTien], [TrangThai], [TenNguoiNhan], [SoDienThoai], [DiaChiGiaoHang], [LyDoTuChoi], [PhuongThucThanhToan]) VALUES (28, 2, CAST(N'2026-03-21T21:57:27.0357123' AS DateTime2), CAST(989999.00 AS Decimal(18, 2)), 1, N'Nguyễn Bảo Long', N'0986508845', N'322342332', NULL, N'COD')
INSERT [dbo].[DonHangs] ([MaDH], [MaTK], [NgayDatHang], [TongTien], [TrangThai], [TenNguoiNhan], [SoDienThoai], [DiaChiGiaoHang], [LyDoTuChoi], [PhuongThucThanhToan]) VALUES (29, 2, CAST(N'2026-03-21T22:02:06.8112779' AS DateTime2), CAST(1189999.00 AS Decimal(18, 2)), 1, N'Nguyễn Bảo Long', N'0986508845', N'23232323', NULL, N'COD')
SET IDENTITY_INSERT [dbo].[DonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[Saches] ON 

INSERT [dbo].[Saches] ([MaSach], [TenSach], [TacGia], [GiaBan], [HinhAnhUrl], [SoLuongDaBan], [MoTa], [LoaiSach]) VALUES (1, N'Sapiens - Lược Sử Loài Người', N'Yuval Noah Harari', CAST(100000.00 AS Decimal(18, 2)), N'/images/sapiens.png', 4, N'Cuốn sách cung cấp kiến thức toàn diện về ASP.NET Core, từ cơ bản đến nâng cao, giúp bạn xây dựng website thực tế.', N'Nuoc Ngoai')
INSERT [dbo].[Saches] ([MaSach], [TenSach], [TacGia], [GiaBan], [HinhAnhUrl], [SoLuongDaBan], [MoTa], [LoaiSach]) VALUES (2, N'Đắc Nhân Tâm', N'Dale Carnegie', CAST(68000.00 AS Decimal(18, 2)), N'/images/dacnhantam.png', 0, N'Cuốn sách cung cấp kiến thức toàn diện về ASP.NET Core, từ cơ bản đến nâng cao, giúp bạn xây dựng website thực tế.', N'Nuoc Ngoai')
INSERT [dbo].[Saches] ([MaSach], [TenSach], [TacGia], [GiaBan], [HinhAnhUrl], [SoLuongDaBan], [MoTa], [LoaiSach]) VALUES (3, N'Nhà Giả Kim', N'Paulo Coelho', CAST(55000.00 AS Decimal(18, 2)), N'/images/nhagiakim.png', 6, NULL, N'Nuoc Ngoai')
SET IDENTITY_INSERT [dbo].[Saches] OFF
GO
SET IDENTITY_INSERT [dbo].[SoDiaChis] ON 

INSERT [dbo].[SoDiaChis] ([MaDiaChi], [Username], [Ho], [Ten], [SoDienThoai], [QuocGia], [TinhThanhPho], [QuanHuyen], [XaPhuong], [DiaChiCuThe], [MaBuuDien], [LaMacDinh]) VALUES (4, N'khach', N'Pham', N'nguyen', N'0799091941', N'Việt Nam', N'Tỉnh Bắc Ninh', N'Thành phố Bắc Ninh', N'Phường Khắc Niệm', N'36/36/36', N'700000', 1)
INSERT [dbo].[SoDiaChis] ([MaDiaChi], [Username], [Ho], [Ten], [SoDienThoai], [QuocGia], [TinhThanhPho], [QuanHuyen], [XaPhuong], [DiaChiCuThe], [MaBuuDien], [LaMacDinh]) VALUES (5, N'khach', N'Pham', N'nguyen', N'0799091941', N'Việt Nam', N'Tỉnh Bắc Ninh', N'Thị xã Quế Võ', N'Xã Yên Giả', N'36/36/36', N'700000', 0)
SET IDENTITY_INSERT [dbo].[SoDiaChis] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoans] ON 

INSERT [dbo].[TaiKhoans] ([MaTK], [Username], [Password], [Role], [DiaChi], [Email], [SoDienThoai], [HoTen], [NgayTao], [GioiTinh], [Avatar], [DiemTichLuy], [HangThanhVien]) VALUES (1, N'admin', N'123', N'Admin', NULL, N'admin@bookstore.com', N'0988888888', N'NTP', CAST(N'2026-03-15T00:00:00.0000000' AS DateTime2), N'Nam', NULL, 0, N'Thành viên Mới')
INSERT [dbo].[TaiKhoans] ([MaTK], [Username], [Password], [Role], [DiaChi], [Email], [SoDienThoai], [HoTen], [NgayTao], [GioiTinh], [Avatar], [DiemTichLuy], [HangThanhVien]) VALUES (2, N'khach', N'okok2504', N'Customer', NULL, N'khachhang@gmail.com', N'0799091943', N'test2', CAST(N'2024-03-15T00:00:00.0000000' AS DateTime2), N'Nữ', NULL, 0, N'Bạc')
INSERT [dbo].[TaiKhoans] ([MaTK], [Username], [Password], [Role], [DiaChi], [Email], [SoDienThoai], [HoTen], [NgayTao], [GioiTinh], [Avatar], [DiemTichLuy], [HangThanhVien]) VALUES (6, N'tienphuc2504', N'123', N'Customer', NULL, N'tienphuc.dvfb@gmail.com', N'0799091941', N'Phuc Nguyen', CAST(N'2026-03-15T09:51:20.2622388' AS DateTime2), NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoans] OFF
GO
/****** Object:  Index [IX_ChiTietDonHangs_MaDH]    Script Date: 3/22/2026 9:35:23 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHangs_MaDH] ON [dbo].[ChiTietDonHangs]
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDonHangs_MaSach]    Script Date: 3/22/2026 9:35:23 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHangs_MaSach] ON [dbo].[ChiTietDonHangs]
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Saches] ADD  DEFAULT ((0)) FOR [SoLuongDaBan]
GO
ALTER TABLE [dbo].[TaiKhoans] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[TaiKhoans] ADD  DEFAULT (N'') FOR [SoDienThoai]
GO
ALTER TABLE [dbo].[TaiKhoans] ADD  DEFAULT (N'') FOR [HoTen]
GO
ALTER TABLE [dbo].[TaiKhoans] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_DonHangs_MaDH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHangs] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_DonHangs_MaDH]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_Saches_MaSach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Saches] ([MaSach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_Saches_MaSach]
GO
USE [master]
GO
